@media only screen and (min-width: 992px) and (max-width: 1000px) {
    .main-content {
        position: relative;
        margin-bottom: 60% !important;
        z-index: 20;
        background-color: #fff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }
    .footer {
        position: fixed;        
        bottom: 0;
        width: 100%;
    }
}
@media only screen and (min-width: 1001px) and (max-width: 1110px) {
    .main-content {
        position: relative;
        margin-bottom: 55% !important;
        z-index: 20;
        background-color: #fff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }
    .footer {
        position: fixed;        
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1111px) and (max-width: 1210px) {
    .main-content {
        position: relative;
        margin-bottom: 50% !important;
        z-index: 20;
        background-color: #fff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }
    .footer {
        position: fixed;        
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1211px) and (max-width: 1350px) {
    .main-content {
        position: relative;
        margin-bottom: 45% !important;
        z-index: 20;
        background-color: #fff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }
    .footer {
        position: fixed;        
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1351px) and (max-width: 1510px) {
    .main-content {
        position: relative;
        margin-bottom: 40% !important;
        z-index: 20;
        background-color: #fff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }
    .footer {
        position: fixed;        
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1511px) and (max-width: 1740px) {
    .main-content {
        position: relative;
        margin-bottom: 35% !important;
        z-index: 20;
        background-color: #fff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }
    .footer {
        position: fixed;        
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1741px){
    .main-content {
        position: relative;
        margin-bottom: 30% !important;
        z-index: 20;
        background-color: #fff;
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.7);
    }
    .footer {
        position: fixed;        
        bottom: 0;
        width: 100%;
    }
}
.page-nav-vertical{
    list-style: none;
    margin-top: 5%;
}
.page-nav-vertical li{
    margin-bottom: 8px;
}
.page-nav-vertical li a {
    display: block;
    border: 2px solid #e62327;
    padding: 16px 18px;
    transition: all .5s ease;
    border-radius: 5px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
    color: #444;
    position: relative;
}

.page-nav-vertical .active{    
    background-color:  #e62327;
}

.page-nav-vertical .active a {
    color: #fff;
   
}

@media  only screen and (max-width:768px){
 .mobile-menu ul li{
     margin-top: 5% !important;
 }
.navbar-toggler img {
    margin-right: 0px !important;
}
}


@media  only screen and (min-width:768px){
    .bottom-header .logo img{
        width: 150px;
    }
}

.navbar-toggler-icon{
    margin-top: -30px !important;
}

.bg-gray {
    background-image: linear-gradient(120deg, #ffffff 70%, #f0f0f0 70%);    
}

 /* HC OffCanvas Nav */

.hc-offcanvas-nav .nav-content {
    background-color: rgba(223, 22, 26, 0.5);
}

.hc-offcanvas-nav .nav-item-wrapper{
    background-color: rgba(255, 34, 38, 0.6);
}

.hc-nav-trigger span, .hc-nav-trigger span::before, .hc-nav-trigger span::after {
    background: #e62327 !important;
}




/* BACK TO TOP */
#century-back-top-button {
    display: inline-block;
    background-color: #e62327;
    width: 40px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #century-back-top-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    line-height: 50px;
    color: #fff;
  }
  #century-back-top-button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #century-back-top-button:active {
    background-color: #555;
  }
  #century-back-top-button.show {
    opacity: 1;
    visibility: visible;
  }
  
  